<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.sacredsf.mcx.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/libexec/ChangeMCXLion.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/private/var/log/mcx_err.log</string>
	<key>StandardOutPath</key>
	<string>/private/var/log/mcx.log</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
